.product-margin {
    margin: 1rem var(--side-margin);
}

/*product display*/

.product-photo {
    width: 100vw;
    height: auto;
    margin: 0;
}

/* .gallery {
    display: none;
} */

.title-and-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--bottom-margin);
}

.information>p {
    margin-bottom: 1.2rem;
}

.information>h2 {
    margin-bottom: 0.2rem;
}

.information>h2+div,
.information>h2+p {
    margin-bottom: 0.7rem;
}

.colour-selection {
    display: flex;
}

.colour-selection>div {
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
    border-radius: 50%;
}

.grey {
    background: #575757;
}

.blue {
    background-color: rgb(145, 174, 255);
}

/* input.quantity-selector {
    border: 1px solid #888888;
    height: 1.5rem;
    width: 2.3rem;
    text-align: center;
}

.increase,
.decrease {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1.3rem;
} */

.add-to-cart {
    width: 100%;
}

.more-details {
    margin: 2rem 0;
}

.details-title>h2 {
    font-weight: 400;
}

.details-title {
    display: flex;
    margin: 1rem 0 0.2rem;
    cursor: pointer;
}

.details-title>img {
    width: 0.7rem;
    height: auto;
    margin-left: 0.5rem;
}

.materials>img {
    transform: rotate(45deg);
}

/*suggested products*/
.suggested-products {
    display: flex;
    width: 100%;
    overflow: hidden;
}

figure {
    margin: 0.5rem;
    margin-left: 0;
}

.suggested-pr-img-container {
    width: 13rem;
    height: 13rem;
    overflow: hidden;
}

.suggested-pr-img-container>img {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

/* dektop media queries*/
@media (min-width: 770px) {

    header {
        position: relative;
    }

    main {
        margin: 0 var(--side-margin);
    }

    .product-container {
        display: grid;
        grid-template-columns: 4fr 1fr 3fr;
        gap: 1rem;
    }

    .product-margin {
        margin: 0;
    }

    .main-img-box {
        grid-column: 1/2;
        width: 100%;
    }

    .product-photo {
        width: 100%;
    }

    .extra-img {
        width: 100%;
        height: auto;
    }

    .gallery {
        display: block;
        grid-column: 2/3;
    }

    .information {
        grid-column: 3/4;
    }

    .more-details {
        display: grid;
        grid: 1fr 1fr/ 1fr 1fr;
    }

    .details-title {
        grid-row: 1/2;
    }

    .measurments {
        grid-column: 1/2;
    }

    .checked-section {
        border-bottom: 3px solid black;
    }

    .unchecked-section {
        border-bottom: 1px solid var(--light-grey);
    }

    .materials {
        grid-column: 2/3;
    }

    .more-details>p {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .details-title>img {
        display: none;
    }

    .suggestions {
        grid-column: 1/4;
    }

}

/*mobile media queries*/
@media (max-width: 770px) {

    .product-page-header {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        background: transparent;
    }
}