/*temporary style*/
header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.product-margin {
    margin: 0 var(--side-margin);
}

/*product display*/

.product-photo {
    width: 100vw;
    height: auto;
    margin: 0;
}

.gallery {
    display: none;
}

.title-and-price {
    display: flex;
    justify-content: space-between;
}

.colour-selection {
    display: flex;
}

.colour-selection>div {
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
    border-radius: 50%;
}

.grey {
    background: #575757;
}

.blue {
    background-color: rgb(145, 174, 255);
}

input.quantity-selector {
    border: 1px solid #888888;
    height: 1.5rem;
    width: 2.3rem;
}

.increase,
.decrease {
    border: none;
    background-color: transparent;
}

/*suggested products*/
.suggested-products {
    display: flex;
    /* width: calc(100vw - var(--side-margin)); */
    width: 100%;
    overflow: hidden;
}

figure {
    margin: 0.5rem;
    margin-left: 0;
}

.suggested-pr-img-container {
    width: 13rem;
    height: 13rem;
    overflow: hidden;
}

.suggested-pr-img-container>img {
    width: 100%;
    height: auto;
}

/*styles that can be used in JS*/
.hidden {
    display: none;
}

/*media queries*/
@media (min-width: 770px) {

    header {
        position: relative;
    }

    main {
        margin: 0 var(--side-margin);
    }

    .product-container {
        display: grid;
        grid-template-columns: 4fr 1fr 3fr;
        gap: 1rem;
    }

    .product-margin {
        margin: 0;
    }

    .product-photo {
        grid-column: 1/2;
    }

    .extra-img {
        width: 100%;
        height: auto;
    }

    .gallery {
        display: block;
        grid-column: 2/3;
    }

    .information {
        grid-column: 3/4;
    }

    .suggestions {
        grid-column: 1/4;
    }

}