/*Initial styling ↓*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: rgb(221, 221, 70, 1);
  --main-color-75: rgba(221, 221, 69, 0.75);
  --main-color-50: rgba(221, 221, 69, 0.5);
  --dark-grey: rgb(43, 43, 43);
  --light-grey: rgb(158, 158, 158);

  --heading-font: "Roboto", sans-serif;
  --body-font: "Manrope", "Roboto", sans-serif;
  --side-margin: max(2rem, 10%);
  --bottom-margin: 0.5rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/*text style*/
html {
  font-size: 100%;
}

p,
q {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

/*buttons*/
button,
.button {
  background-color: var(--primary-color);
  padding: 0.7rem 0.9rem;
  color: white;
  text-transform: uppercase;
  font-family: var(--heading-font);
  box-shadow: none;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: var(--primary-color);
  transition: 0.6s;
  /*watch a tutorial*/
}

button:active {
  transform: scale(1.05);
  transition: 0.1s;
}

.hidden {
  display: none;
}

.footEnd {
  display: flex;
}

.footNav {
  display: flex;
}

/* TARA  */

img {
  max-width: 100%;
  width: 100%;
}

.hidden_sustainability {
  display: none;
}

/* ----------BURGER MENU--------- */
body {
  background: pink;
}

header {
  background: white;
  font-family: var(--heading-font);
  width: 100%;
}

.bagIcon {
  height: 1.5rem;
  width: auto;
}

.searchIcon {
  height: 1.5rem;
  width: auto;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
}

.burgerBox {
  margin-right: 1rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
}

.burgerIcon {
  display: block;
  background: black;
  height: 5px;
  width: 2rem;
  border-radius: 2px;
  position: relative;
}

.burgerIcon::before {
  bottom: 0.6rem;
  content: "";
  position: absolute;
  height: 5px;
  width: 2rem;
  border-radius: 2px;
  background: black;
}

.burgerIcon::after {
  top: 0.6rem;
  content: "";
  position: absolute;
  height: 5px;
  width: 2rem;
  border-radius: 2px;
  background: black;
}

.navLogo {
  height: 1.5rem;
  margin: 1.5rem;
  width: auto;
}

header a,
header a:active,
header a:hover,
header a:visited {
  text-decoration: none;
  color: black;
}

.navWrap ul {
  display: flex;
  list-style-type: none;
}

.playLogo {
  height: 1rem;
  width: auto;
}

.navWrap li {
  margin: 0rem 0.5rem;
}

@media only screen and (min-width: 901px) {
  .burgerBox,
  .burgerIcon {
    display: none;
  }

  .navWrap {
    display: flex;
    align-items: center;
  }

  .wrap {
    justify-content: space-between;
  }

  .right {
    width: 4rem;
    margin-right: 1rem;
  }

  .mainlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1rem 0rem;
    list-style-type: none;
    font-weight: 600;
  }

  .mainlist li {
    margin: 0.2rem 0;
  }

  .types {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  .specials li {
    list-style-type: none;
    margin-bottom: 2rem;
  }

  .submenu {
    max-width: 850px;
    margin-left: 1.5rem;
  }

  .navWrapAbout {
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .navWrap ul,
  .searchIcon,
  .submenu {
    display: none;
  }
}
