.banner_img img {
  width: 100%;
  max-height: 50vw;
  height: auto;
  object-fit: cover;
  background-size: 100%;
}
.banner_img {
  position: relative;
}

#sustainability_text {
  position: absolute;
  bottom: 80%;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}
/* .banner_text {
  margin-bottom: 25%;
} */
p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

button {
  margin-left: 10%;
  margin-bottom: 15%;
  margin-top: 3%;
}
.hidden_sustainability {
  display: none;
}
@media only screen and (min-width: 901px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
    grid-gap: 0.5rem;
    margin: 10%;
  }

  .sustainability_img {
    position: relative;
  }

  .sustainability_img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .rect-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contain {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
  }

  .banner_img img {
    max-height: 30vw;
  }

  .banner_text {
    width: 65%;
    margin-left: 20%;
    margin-top: 5%;
  }

  /* MAKES THE TEXT CENTERED, BUT IT LOOKS WEIRD? */
  p {
    width: 21em;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  p:after {
    /* this adds an extra invisible line, so any other line is justified */
    content: "";
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  #sustainability_text {
    font-size: 3rem;
  }
  button {
    margin-left: 0%;
    margin-bottom: 5%;
  }
}
