@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: rgb(221, 221, 70, 1);
  --main-color-75: rgba(221, 221, 69, 0.75);
  --main-color-50: rgba(221, 221, 69, 0.5);
  --dark-grey: rgb(43, 43, 43);
  --light-grey: rgb(158, 158, 158);

  --heading-font: "Roboto", sans-serif;
  --body-font: "Manrope", "Roboto", sans-serif;
  --side-margin: max(2rem, 10%);
  --bottom-margin: 0.5rem;
}

.banner_text,
label {
  margin-bottom: 20%;
}
.more {
  display: none;
}

.banner_img img {
  width: 100%;
  max-height: 50vw;
  height: auto;
  object-fit: cover;
  background-size: 100%;
}
.banner_img {
  position: relative;
}
img {
  max-width: 100%;
  width: 100%;
}

#sustainability_text {
  position: absolute;
  bottom: 80%;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}

.text_on_img {
  color: black;
  text-align: center;
}

p {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
  color: #777;
  margin-bottom: 8%;
  text-align: left;
  /* text-justify: auto; */
}

.banner_button {
  margin-bottom: 5%;
}

.hidden_sustainability {
  display: none;
}

/* label work button */
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;

  /* max-height: 999em; */
}

.read-more-state ~ .read-more-trigger:before {
  content: "Read more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Show less";
}

.read-more-trigger {
  /* cursor: pointer; */
  /* display: inline-block;
  padding: 0 0.5em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 0.25em; */
  background-color: var(--primary-color);
  padding: 0.7rem 0.9rem;
  color: white;
  text-transform: uppercase;
  font-family: var(--heading-font);
  box-shadow: none;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* button,
label {
  margin-left: 5%;
  top: 10%;
} */
.contain {
  margin-bottom: 10%;
}

label {
  margin-left: 7%;
}

.sustainability_item {
  margin-bottom: 10%;
}

@media only screen and (min-width: 901px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
    grid-gap: 0.5rem;
    margin: 10%;
  }

  .sustainability_img {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0;
  }

  .sustainability_img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .rect-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contain {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .banner_img img {
    max-height: 30vw;
  }

  .banner_text {
    width: 65%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  /* .myBtn {
    margin-left: 20%;
    margin-top: 1%;
  } */

  /* MAKES THE TEXT CENTERED, BUT IT LOOKS WEIRD? */
  p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  p:after {
    /* this adds an extra invisible line, so any other line is justified */
    content: "";
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  #sustainability_text {
    font-size: 3rem;
  }
  label {
    margin-left: 0%;
    margin-bottom: 5%;
  }
}
